<p-dialog
  [header]="header"
  [(visible)]="display"
  [modal]="true"
  [closable]="true"
  (onHide)="onCancel()"
>
  <!-- <p>Content of the dialog</p> -->
  <div class="column gap-1 form-wrapper" [formGroup]="productForm">
    <!-- Name -->
    <div class="row gap-05">
      <span class="price-label">Name:</span>
      <input type="text" formControlName="name" />
    </div>

    <!-- Price -->
    <div class="row gap-05">
      <span class="price-label">Price:</span>
      <input type="text" formControlName="price" />
    </div>

    <!-- Image -->
    <div class="row gap-05">
      <span class="price-label">Image:</span>
      <input type="text" formControlName="image" />
    </div>

    <!-- Rating -->
    <div class="row gap-05">
      <p-rating
        formControlName="rating"
        iconCancelClass="hidden"
        class="rating"
      ></p-rating>
    </div>

    <!-- Footer with action buttons -->
    <p-footer>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="onConfirm()"
        label="Confirm"
        [class.disabled]="!productForm.valid"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="onCancel()"
        label="Cancel"
      ></button>
    </p-footer>
  </div>
</p-dialog>
